@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu:400,700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import "scale";
@import "table";
@import "buttons";
@import "popup";
@import "body";
@import "gradient_square";
@import "top_actions";
@import "print_style";

body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif !important;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 h2 h3 {
  font-family: 'Ubuntu', sans-serif;
}
