i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 5px 4.5px 25px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btn{
  border-radius: 4px;
}

.btn-force{
  border-radius: 0;
  width: 100%;
  border: none;
  font-weight: bold;
}

.btn-grey{
  background-color: #808080;
  color: #F6FDFF;
}

.btn-pop-up-ok{
  border-radius: 4px;
  margin: 12px  9px 5px 0;
  width: 100px;
  text-align: center;
}

.btn-pop-up-review{
  text-align: center;
}

.print-btns{
  justify-content: space-around;
  display: flex;
  margin-bottom: 20px;
}
