.popup-content{
  border-radius: 4px;
}

.patient-ref-input{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 5px 10px rgba(0, 0, 0, 0.3);
  width: 95%;
  margin: 10px auto 10px auto;
  height: 50px;
  font-size: 25px;
}

.print-pop-up-text{
  text-align: center;
  margin-bottom:24px;
}

.print-icon{
  margin: 0 0 10px 20px;
}
