.scale{
  margin-top: 400px;
  width: 15%;
}

.scale * {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 15px;
}

.one-force{
  background-color: #EEF5CF;
}

.two-force{
  background-color: #E8D58F;
}

.three-force{
  background-color: #DE995C;
}

.four-force{
  background-color: #D44327;
}


.five-force{
  background-color: #CD000F;
}

.scale-muscle-popup * {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px;
}
