.scale{
  margin-top: 400px;
  width: 15%;
}

.scale * {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 15px;
}

.zero-force{
  background-color: #FFFFFF !important;
  fill: #FFFFFF !important;
  color: black;
}

.one-force{
  background-color: #EEF5CF !important;
  fill: #EEF5CF !important;
  color: black;
}

.two-force{
  background-color: #E7D18B !important;
  fill: #E7D18B !important;
  color: black;
}

.three-force{
  background-color: #E0AB69 !important;
  fill: #E0AB69 !important;
  color: black;
}

.four-force{
  background-color: #D65B35 !important;
  fill: #D65B35 !important;
  color: black;
}


.five-force{
  background-color: #CD000F !important;
  fill: #CD000F !important;
  color: black;
}

.scale-muscle-popup * {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px;
}
