.table{
  width: 80%;
  margin: 50px auto 0 auto;
  text-align: center;
}

.table .thead-light th {
  background-color: #054086;
  color: #FFFFFF !important;
}

tr {
  -webkit-print-color-adjust: exact;
}
