
.top-actions{
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  padding-right: 230px;
}

.patient-ref{
  height: 20px;
  width: 300px;
  padding: 20px 0 0 28px;
  overflow-wrap: break-word;
}

.body-select{
  width: 22%;
  display: flex;
  justify-content: space-around;
}
