@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu:400,700&display=swap');

@import "scale";
@import "table";
@import "buttons";
@import "popup";
@import "body";
@import "gradient_square";
@import "top_actions";
@import "print_style";

body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif !important;
  -webkit-print-color-adjust: exact !important;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 h2 h3 {
  font-family: 'Ubuntu', sans-serif;
}
