@import "scale";
@import "table";

body {
  margin:0;
  padding:0;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.svg-body{
  margin: 0 15% 0 0;
  width: 85%;
}

.scale-body{
  width: 100%;
  display: flex;
}

.top-actions{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 50px;
}

.patient-ref{
  height: 20px;
  padding: 10px 0 0 10px;
}

.body-select{
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.btn-pop-up-ok{
  margin: 12px  0 3px 0;
  width: 100px;
  text-align: center;
}

.btn-pop-up-review{
  margin-left: 100px;
  width: 300px;
  text-align: center;
};
