@import "scale";
@import "table";
@import "buttons";
@import "popup";
@import "body";
@import "gradient_square";

body {
  margin:0;
  padding:0;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

thead {
  text-align: center;
}

.top-actions{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 50px;
}

.patient-ref{
  height: 20px;
  padding: 10px 0 0 10px;
}
